html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a, label, button, input, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

body {
    background-image: linear-gradient(to right, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(#);
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}



.divHeight {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.r-line {
    position: relative;
}

.r-line:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.b-line {
    position: relative;
}

.b-line:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}


.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color: #08acee;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    color: #eee;
}




.aui-loan-box {
    width:100%;
    height:auto;
}

.aui-loan-box img{
    width:8rem;
    height:auto;
    display:block;
    border:none;
}

.aui-loan-list{
    padding:0 15px;
}

.aui-loan-list .aui-flex{
    background:#fff;
    color:#383131;
    border-radius:10px;
    margin-bottom:0.8rem;
}

.aui-flex-loan{
    width:70px;
    height:70px;
    margin-right: 0.8rem;
}

.aui-flex-loan img{
    width:70px;
    height:70px;
    display:block;
    border:none;
    border-radius:20px;
}

.aui-flex-box h2{
    font-size:1.2rem;
    font-weight:normal;
    color:#383131;
    margin-bottom:0.3rem;
}

.aui-flex-box p{
    font-size:0.85rem;
    font-weight:normal;
    color:#ff5426;
}

.aui-loan-button button{
    color:#fff;
    font-size:1rem;
    background-image: -webkit-gradient(linear,left top,right top,from(#fc712a),to(#f84c39));
    background-image: -webkit-linear-gradient(left,#fc712a,#f84c39);
    background-image: -moz-linear-gradient(left,#fc712a,#f84c39);
    background-image: linear-gradient(to right,#fc712a,#f84c39);
    background-color: #f84c39;
    border-radius:5px;
    border:none;
    padding:0.8rem 1.8rem;
}

.aui-bottom {
    padding: 1rem;
    margin: 1rem;
}